################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CIDRS.API/bin
/CIDRS.API/obj
/CIDRS.Common/obj
/CIDRS.Core/bin
/CIDRS.Core/obj
/CIDRS.Domain/bin
/CIDRS.Domain/obj
/CIDRS.Identity/bin
/CIDRS.Identity/obj
/CIDRS.Identity.DefaultUserHandler/bin
/CIDRS.Identity.DefaultUserHandler/obj
/CIDRS.Identity.Domain/bin
/CIDRS.Identity.Domain/obj
/CIDRS.Identity.Infrastructure/bin
/CIDRS.Identity.Infrastructure/obj
/CIDRS.Infrastructure/bin
/CIDRS.Infrastructure/obj
/CIDRS.Master/obj
/CIDRS.Shared.Common/bin
/CIDRS.Shared.Common/obj
/CIDRS.Shared.Common.Api/bin
/CIDRS.Shared.Common.Api/obj
/CIDRS.Shared.Common.CurrentUser/obj
/CIDRS.Shared.Common.Helper/bin/Debug/netcoreapp3.1
/CIDRS.Shared.Common.Helper/obj
/CIDRS.Shared.Common.Mapper/obj
/CIDRS.Shared.Common.Pagination/bin
/CIDRS.Shared.Common.Pagination/obj
/CIDRS.Shared.Installer/bin
/CIDRS.Shared.Installer/obj
/CIDRS.Shared.Middleware.ExceptionHandler/bin
/CIDRS.Shared.Middleware.ExceptionHandler/obj
/CIDRS.Shared.Utility.EmailManipulator/bin
/CIDRS.Shared.Utility.EmailManipulator/obj
/CIDRS.Shared.Utility.FileManipulator/bin
/CIDRS.Shared.Utility.FileManipulator/obj
/CIDRS.Shared.Utility.SmsManipulator/bin
/CIDRS.Shared.Utility.SmsManipulator/obj
